---
import Image from 'astro/components/Image.astro'
import Tazmania from '@/assets/images/adoptables/hembras/tazmania/tazmania.webp'
import type { ImageMetadata } from 'astro'
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'article'> {
  image?: ImageMetadata
  name?: string
  gender?: string
  age?: number
  presentation?: string
  imageOnly?: boolean
}

const {
  image = Tazmania,
  name = 'Nombre',
  gender = 'genero',
  age = 0,
  presentation = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis vitae perspiciatis pariatur mollitia? Odio repellat sequi ut nobis minus, a deleniti saepe eos officia. Dicta dignissimoseligendi similique consectetur eos.',
  imageOnly = false,
  ...props
} = Astro.props
---

<article class:list={["bg-primary-light-10 flex w-full max-w-[13.25rem] flex-col shadow-lg"]} class={props.class}>
  <div class="realiteve h-full w-full overflow-hidden">
    <Image
      src={image}
      alt="Happy dog!"
      class="aspect-4/5 w-full object-cover object-top"
      width="320"
      height="400"
    />
  </div>
  <div
    class="flex h-full max-h-fit min-h-fit w-full flex-col items-start p-4 text-start"
    hidden={imageOnly}
  >
    <h5 class="text-lg font-extrabold">{name}</h5>
    <div>
      <div class="text-grey mb-1 flex items-center gap-2 text-[.5rem]">
        <span >{gender}</span>
        <span >{age} años </span>
      </div>
      <p class="mb-2 line-clamp-3 text-[.625rem] text-ellipsis whitespace-nowrap">{presentation}</p>
    </div>
  </div>
</article>
